<!DOCTYPE html>
<html>
<head>
  <title>Resume Generator</title>
</head>
<body>

<h2>Resume Generator</h2>

<form action="/generate" method="POST">

<h3>Personal Info</h3>
Name: <input name="name"><br><br>
Phone: <input name="phone"><br><br>
Email: <input name="email"><br><br>
LinkedIn: <input name="linkedin"><br><br>

<h3>Education</h3>
College: <input name="college"><br>
Degree: <input name="degree"><br>
College Duration: <input name="collegeDuration"><br>
CGPA: <input name="cgpa"><br><br>

PU College: <input name="puCollege"><br>
PU Duration: <input name="puDuration"><br>
PU Score: <input name="puScore"><br><br>

School: <input name="school"><br>
School Duration: <input name="schoolDuration"><br>
School Score: <input name="schoolScore"><br><br>

<h3>Project 1</h3>
Title: <input name="proj1Title"><br>
Duration: <input name="proj1Duration"><br>
Description:<br>
<textarea name="proj1Desc"></textarea><br><br>

<h3>Project 2</h3>
Title: <input name="proj2Title"><br>
Duration: <input name="proj2Duration"><br>
Description:<br>
<textarea name="proj2Desc"></textarea><br><br>

<h3>Ongoing Project</h3>
Title: <input name="ongoingTitle"><br>
Duration: <input name="ongoingDuration"><br>
Description:<br>
<textarea name="ongoingDesc"></textarea><br><br>

<h3>Skills</h3>
Languages: <input name="languages"><br>
Databases: <input name="databases"><br>
Core Concepts: <input name="core"><br>
Non Technical: <input name="nonTech"><br><br>

<h3>Coursework</h3>
DSA: <input name="dsa"><br>
Math: <input name="math"><br>
AI: <input name="ai"><br><br>

<h3>Activities</h3>
Activities: <input name="activities"><br><br>

<button type="submit">Generate Resume</button>

</form>
</body>
</html>