body {
  font-family: "Times New Roman", serif;
  margin: 40px;
  font-size: 14px;
  color: black;
}

.resume {
  max-width: 800px;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 5px;
}

.contact {
  text-align: center;
  margin-bottom: 15px;
}

.section-title {
  margin-top: 20px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  margin-bottom: 8px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.space-top {
  margin-top: 8px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

ul {
  margin-top: 5px;
  margin-bottom: 10px;
}

.download-btn {
  margin-top: 20px;
}